.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: none;
  border-radius: $btn-border-radius;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  &:focus,
  &:active {
    outline: 0;
  }

  &:disabled {
    pointer-events: none;
  }

  & + & {
    margin-left: $btn-spacing;
  }
}

// Solid Buttons
@each $name, $color in $colors {
  @include make-button($name, $color);
}

// Outline Buttons
@each $name, $color in $colors {
  @include make-outline-button($name, $color);
}

// Inverse Buttons
@each $name, $color in $colors {
  @include make-inverse-button($name, $color);
}
