@mixin media-query($size) {
  @if ($size > 0) {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin make-button($name, $color) {
  .btn-#{$name} {
    color: text-color($color);
    background-color: $color;

    &:hover {
      background-color: lighten($color, 5%);
    }

    &:focus {
      background-color: lighten($color, 10%);
    }
  }
}

@mixin make-outline-button($name, $color) {
  .btn-outline-#{$name} {
    box-shadow: inset 0 0 0 2px $color;

    &:hover {
      color: text-color($color);
      background-color: $color;
    }

    &:focus {
      color: text-color($color);
      background-color: lighten($color, 5%);
    }
  }
}

@mixin make-inverse-button($name, $color) {
  .btn-inverse-#{$name} {
    color: $color;

    &:hover {
      background-color: rgba($color, .08);
    }

    &:focus {
      background-color: rgba($color, .2);
    }
  }
}
