.navbar {
  display: flex;
  align-items: center;
  min-height: $navbar-height;
  padding: $navbar-padding-y $navbar-padding-x;
  background-color: $white-color;

  > .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    display: inline-block;
    color: inherit;
  }

  &.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $navbar-z-index;
  }

  &.sticky-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: $navbar-z-index;
  }
}
