.navbar {
  display: flex;
  align-items: center;
  min-height: $navbar-height;
  padding: $navbar-padding-y $navbar-padding-x;
  background-color: $white-color;

  > .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
