%heading {
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

.heading {
  @each $name, $size in $headings-font-size {
    &-#{$name} {
      @extend %heading;
      font-size: $size;
    }
  }
}

@each $breakpoint, $size in $media-breakpoints {
  @include media-query($size) {

    $infix: breakpoint-infix($breakpoint);

    .text#{$infix}-left {
      text-align: left;
    }
    .text#{$infix}-center {
      text-align: center;
    }
    .text#{$infix}-right {
      text-align: right;
    }
    .text#{$infix}-justify {
      text-align: justify;
    }
  }
}
