// Grid Settings
$media-breakpoint-xs: 0 !default;
$media-breakpoint-sm: 576px !default;
$media-breakpoint-md: 768px !default;
$media-breakpoint-lg: 992px !default;
$media-breakpoint-xl: 1200px !default;

$media-breakpoints: (
  xs: $media-breakpoint-xs,
  sm: $media-breakpoint-sm,
  md: $media-breakpoint-md,
  lg: $media-breakpoint-lg,
  xl: $media-breakpoint-xl
) !default;

$wrapper-width-sm: 540% !default;
$wrapper-width-md: 720px !default;
$wrapper-width-lg: 960px !default;
$wrapper-width-xl: 1140px !default;

$cell-count: 16 !default;
$cell-width: 100% / $cell-count !default;

// Theme colors
$primary-color: #28a5f5 !default;
$accent-color: #414756 !default;
$success-color: #28c76f !default;
$info-color: #00d8e0 !default;
$warning-color: #ffc700 !default;
$danger-color: #e61800 !default;

$colors: (
  primary: $primary-color,
  accent: $accent-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color
) !default;

// Shades
$black-color: #141823 !default;
$grey-color: #808080 !default;
$white-color: #fff !default;
$light-grey: #efefef !default;

// Base settings
$body-bg-color: $white-color !default;
$body-color: $black-color !default;
$body-font-size: 1rem !default;
$body-font-weight: 400 !default;
$link-color: $black-color !default;

// Navbar
$navbar-height: 3.5rem !default;
$navbar-padding-y: 1rem !default;
$navbar-padding-x: null !default;

// Button
$btn-padding-y: .725rem !default;
$btn-padding-x: 1rem !default;
$btn-border-radius: .3rem !default;
$btn-font-size: .875rem !default;
$btn-font-weight: 400 !default;

$btn-spacing: .3125rem !default;

$contrasted-threshold: 150 !default;
