// Grid Settings
$media-breakpoint-xs: 0 !default;
$media-breakpoint-sm: 576px !default;
$media-breakpoint-md: 768px !default;
$media-breakpoint-lg: 992px !default;
$media-breakpoint-xl: 1200px !default;
$media-breakpoint-xxl: 1400px !default;

$media-breakpoints: (
  xs: $media-breakpoint-xs,
  sm: $media-breakpoint-sm,
  md: $media-breakpoint-md,
  lg: $media-breakpoint-lg,
  xl: $media-breakpoint-xl,
  xxl: $media-breakpoint-xxl,
) !default;

$wrapper-width-sm: 540% !default;
$wrapper-width-md: 720px !default;
$wrapper-width-lg: 960px !default;
$wrapper-width-xl: 1140px !default;
$wrapper-width-xxl: 1320px !default;

$cell-count: 16 !default;
$cell-width: 100% / $cell-count !default;

// Theme colors
$primary-color: #28a5f5 !default;
$accent-color: #414756 !default;
$success-color: #28c76f !default;
$info-color: #00d8e0 !default;
$warning-color: #ffc700 !default;
$danger-color: #e61800 !default;

$colors: (
  primary: $primary-color,
  accent: $accent-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  danger: $danger-color
) !default;

// Shades
$black-color: #141823 !default;
$grey-color: #808080 !default;
$white-color: #fff !default;
$light-grey: #efefef !default;

// Base settings
$body-bg-color: $white-color !default;
$body-color: $black-color !default;
$body-font-size: 1rem !default;
$body-font-weight: 400 !default;
$link-color: $black-color !default;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// Navbar
$navbar-height: 3.75rem !default;
$navbar-padding-y: .65rem !default;
$navbar-padding-x: 0 !default;
$navbar-z-index: 999 !default;

// Button
$btn-padding-y: .725rem !default;
$btn-padding-x: 1rem !default;
$btn-sm-padding-y: .5rem !default;
$btn-sm-padding-x: .75rem !default;
$btn-lg-padding-y: 1rem !default;
$btn-lg-padding-x: 1.25rem !default;
$btn-border-radius: .3rem !default;
$btn-font-size: .875rem !default;
$btn-sm-font-size: .7rem !default;
$btn-lg-font-size: 1.25rem !default;
$btn-font-weight: 400 !default;
$btn-spacing: .3125rem !default;

$contrasted-threshold: 150 !default;

// Typography
$heading-xs-font-size: 1.25rem !default;
$heading-sm-font-size: 1.5rem !default;
$heading-md-font-size: 1.75rem !default;
$heading-lg-font-size: 2rem !default;
$heading-xl-font-size: 2.5rem !default;

$heading-margin-top: 0 !default;
$heading-margin-bottom: 1rem !default;
$heading-line-height: 1.2 !default;
$heading-letter-spacing: -.4px !default;
$heading-font-weight: 500 !default;

$headings-font-size: (
  xs: $heading-xs-font-size,
  sm: $heading-sm-font-size,
  md: $heading-md-font-size,
  lg: $heading-lg-font-size,
  xl: $heading-xl-font-size,
) !default;

// Forms
$form-field-padding-y: .3125rem !default;
$form-field-padding-x: .625rem !default;
$form-field-margin-bottom: .75rem !default;
$form-field-font-size: .875rem !default;
$form-field-radius: 3px !default;
$form-field-border-width: 1px !default;
$form-field-border-color: $light-grey !default;
$form-field-hover-border-color: $grey-color !default;
$form-field-active-border-color: $primary-color !default;
$form-field-invalid-border-color: $danger-color !default;
$form-field-success-border-color: $success-color !default;
$form-field-bg-disabled: $light-grey !default;
